html,body{
    margin: 0;
    padding: 0;
    height: 80%;
    background-color: #2f4f30;
    color: white;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    width: 100%;

}

.carta{
    position: relative;
    max-width: 110px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas{
    height: 160px;
}

#mensaje{
    text-align: center;
    color: #2f4f30;
    font-size: 2rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background{
    background-color: #f0f0f0; 
}